<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JP</key>
	<array>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_6P</string>
			<key>short</key>
			<integer>567</integer>
			<key>long</key>
			<integer>709</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_2L</string>
			<key>short</key>
			<integer>369</integer>
			<key>long</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_KG</string>
			<key>short</key>
			<integer>283</integer>
			<key>long</key>
			<integer>425</integer>
		</dict>
	</array>
	<key>US</key>
	<array>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_8x10</string>
			<key>short</key>
			<integer>576</integer>
			<key>long</key>
			<integer>720</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_5x7</string>
			<key>short</key>
			<integer>360</integer>
			<key>long</key>
			<integer>504</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_4x6</string>
			<key>short</key>
			<integer>288</integer>
			<key>long</key>
			<integer>432</integer>
		</dict>
	</array>
	<key>default</key>
	<array>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_20x25cm</string>
			<key>short</key>
			<integer>567</integer>
			<key>long</key>
			<integer>709</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_13x18cm</string>
			<key>short</key>
			<integer>369</integer>
			<key>long</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LocalPrintingSize_10x15cm</string>
			<key>short</key>
			<integer>283</integer>
			<key>long</key>
			<integer>425</integer>
		</dict>
	</array>
</dict>
</plist>
