<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>os</key>
	<array>
		<dict>
			<key>subsystem</key>
			<string>com.apple.coredata</string>
			<key>category</key>
			<string>instruments</string>
			<key>name</key>
			<string>Fetch</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Sum</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>launch</string>
				<string>ScrollMoments</string>
				<string>ScrollAllPhotos</string>
				<string>ScrollPeopleHome</string>
				<string>ScrollPeopleDetail</string>
				<string>ScrollMemories</string>
				<string>ScrollFavoriteMemories</string>
				<string>OneUpTransition</string>
				<string>LoadPhotoEditorWarm</string>
				<string>LoadPeopleHome</string>
				<string>LoadPeopleBootstrap</string>
				<string>LoadPeopleDetail</string>
				<string>SwipeOneUp</string>
				<string>ArrowOneUp</string>
				<string>MailSharing</string>
				<string>Import</string>
				<string>NamePeoplePerson</string>
				<string>CommitPeopleBootstrap</string>
				<string>SwitchCuratedLibraryToMemories</string>
				<string>ResizeWindow</string>
				<string>ResizeWindowFullScreen</string>
				<string>PerformSearchPlainText</string>
				<string>ExportAlbum</string>
				<string>ScrollCuratedLibraryAllPhotos</string>
				<string>ScrollCuratedLibraryAllPhotosFast</string>
				<string>ScrollCuratedLibraryDays</string>
				<string>ScrollCuratedLibraryDaysFast</string>
				<string>ScrollCuratedLibraryMonths</string>
				<string>PerformSearchTokenizedText</string>
				<string>ScrollSearchResultsTest</string>
			</array>
			<key>description</key>
			<string>Measure CoreData Fetch performance</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>FrequentStoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportLayoutRenderVideoFrame</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure rendering story layout for export</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>FrequentStoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportLayoutRenderLoadingSpriteContent</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure Tungsten loading final textures for rendering sprite in video frame</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>FrequentStoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportRequestSeekVideo</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure video seeking during export</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportRequestMusicAsset</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure requesting music asset</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportVideo</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure video export</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportAudio</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure video seeking during export</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportRequestSetupWaitFinalTimeline</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure waiting for timeline to be finished</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>name</key>
			<string>StoryExportRequestPreloadStoryResources</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
			<key>description</key>
			<string>Measure waiting for preloading to be finished</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>Story</string>
			<key>name</key>
			<string>PXStoryBufferingController.PlaybackBuffering</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
			<key>description</key>
			<string>Measure waiting for buffering to be finished</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>category</key>
			<string>PXAppleMusicAudioSession</string>
			<key>name</key>
			<string>StoryAppleMusicSessionPrepareToPlay</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
			<key>description</key>
			<string>Measure waiting for Apple Music preparing to play</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>Story</string>
			<key>name</key>
			<string>PXStoryResourcesPreloadingController.Buffering</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
			<key>description</key>
			<string>Measure waiting for buffering to be finished</string>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>category</key>
			<string>PXStoryConcreteTimelineProducer</string>
			<key>name</key>
			<string>StoryTimelineTotalProduction</string>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
			<key>description</key>
			<string>Measure waiting for timeline production</string>
		</dict>
	</array>
	<key>ktrace</key>
	<array/>
</dict>
</plist>
